## This config file is meant to contain information about the location or argument of programs
## this path to this file must be stored in $PIPELINE_CONFIG environment variable.
## You should comment out some line if software are not installed.

[bwa]
bwa_dir=/ifs/software/linux_x86_64/bwa/bwa-0.6.1/

[bfast]
bfast_dir=/ifs/software/linux_x86_64/BFAST/bfast-0.6.4e/

[gsnap]
gsnap_dir=/ifs/software/linux_x86_64/GMAP/gmap-2012-01-11/bin/

[samtools]
samtools_dir=/ifs/software/linux_x86_64/samtools/samtools-0.1.18/

[picard]
picard_dir=/ifs/software/linux_x86_64/picard-tools/picard-tools-1.69

[gatk]
gatk_dir=/ifs/software/linux_x86_64/GATK/GenomeAnalysisTK-1.6-7-g2be5704/

[maq]
maq_dir=/ifs/software/linux_x86_64/maq/maq-0.7.1/

[fastx]
fastqx_dir=/ifs/software/linux_x86_64/fastx/fastx_0.0.13/bin/

[qc_tools]
fastqc_dir=/ifs/software/linux_x86_64/FastQC/FastQC_v0.9.0/
solexaqa_dir=/ifs/software/linux_x86_64/solexaqa/SolexaQA_v.1.9/
matrix2png_dir=/ifs/software/linux_x86_64/matrix2png/matrix2png-1.2/bin/
fasta2fastq=/ifs/software/linux_x86_64/common_scripts_unversioned/illumina_post_run_scripts/sol2fasta.pl

[blast]
blast_dir=/ifs/software/linux_x86_64/blast/blast-2.2.24/bin/
